.currency-selector
  - if @current_community.currency
  - currency_isocode = @current_community.currency.downcase  
  = Money.new(1, currency_isocode).symbol
    = form.hidden_field :currency, :value => currency_isocode