- data = 'bitcoin:'+address+'?amount='+price_break_down[:total].fractional.to_s
.initiate-transaction-totals
	.initiate-transaction-total-wrapper
		%span.initiate-transaction-total-label
			%p
				= 'Pay with Community Coin: ['+price_break_down[:total].currency.iso_code+']'
			%p{:style=>"padding-top:20px;color:gray;font-weight:normal"}
				= address			
		%span.initiate-transaction-total-value
			= render 'qr', qr: generate_qr(data), title: data